name: indent

on: [push, pull_request]

jobs:
  indent:
    # run the indent checks

    name: indent
    runs-on: [ubuntu-18.04]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 100
    - name: indent
      run: |
        ./devHelpers/indentationStandard/check_indentation.sh
